{{ partial "header.html" . }}


<main role="main">
    <article class="article" itemscope itemtype="http://schema.org/Article">
        <header data-interchange="[{{ (print .Params.banner "-small" ".jpg") | absURL }}, small], [{{ (print .Params.banner "-medium" ".jpg") | absURL }}, medium], [{{ (print .Params.banner "-large" ".jpg") | absURL }}, large]">

            <div class="row columns small-up-2 medium-up-3 large-up-4">
                <h1 itemprop="name">{{ .Title }}</h1>
            </div>

        </header>

        <div class="row">


            <main class="columns small-up-2 medium-up-3 large-up-4">
                {{ if .Params.icon }}
                <img class="thumbnail" src="{{ .Params.icon | absURL }}" alt="{{ .Title }}" align="left">
                {{ end }}
                {{ .Content }}
            </main>

            <footer>

                <details class="columns small-up-2 medium-up-3 large-up-4" role="group" open>
                    <summary role="button" aria-expanded="false">Meta</summary>

                    <dl class="inline">

                        {{ if .Params.location }}
                        <dt><i class="fas fa-map-marker-alt"></i> Location</dt>
                        <dd id="location">{{ .Params.location }}</dd>
                        {{ end }}

                        {{ if .Params.topics }}
                        <dt><i class="far fa-comments"></i> Topic{{ if gt (len .Params.topics) 1 }}s{{ end }}</dt>
                        <dd>{{ range $index, $topic := .Params.topics }}{{ if gt $index 0 }}, {{ end }}<a href="{{ $.Site.BaseURL }}topics/{{ . | urlize }}">{{ . }}</a>{{ end }}</dd>
                        {{ end }}

                        {{ if .Params.email }}
                        <dt><i class="far fa-envelope"></i> Email</dt>
                        <dd><a href="mailto:{{ .Params.email }}">{{ .Params.email }}</a></dd>
                        {{ end }}

                        {{ if .Params.facebook }}
                        <dt><i class="fab fa-facebook"></i> Facebook</dt>
                        <dd><a href="https://www.facebook.com/{{ .Params.facebook }}">Facebook</a></dd>
                        {{ end }}

                        {{ if .Params.twitter }}
                        <dt><i class="fab fa-twitter"></i> Twitter</dt>
                        <dd><a href="https://twitter.com/{{ .Params.twitter }}">@{{ .Params.twitter }}</a></dd>
                        {{ end }}

                        {{ if .Params.instagram }}
                        <dt><i class="fab fa-instagram"></i> Instagram</dt>
                        <dd><a href="https://instagram.com/{{ .Params.twitter }}">@{{ .Params.instagram }}</a></dd>
                        {{ end }}

                        {{ if .Params.linkedin }}
                        <dt><i class="fab fa-linkedin"></i> LinkedIn</dt>
                        <dd><a href="{{ .Params.linkedin }}">@LinkedIn</a></dd>
                        {{ end }}

                        {{ if .Params.website }}
                        <dt><i class="fas fa-link"></i> Website</dt>
                        <dd><a href="{{ .Params.website }}">@www</a></dd>
                        {{ end }}

                        {{ if .Params.phone }}
                        <dt><i class="fas fa-phone"></i> Phone</dt>
                        <dd><a href="tel:{{ .Params.phone }}">{{ .Params.phone }}</a></dd>
                        {{ end }}

                        {{ if .Params.organizations }}
                        <dt><i class="far fa-building"></i> Organization{{ if gt (len .Params.organizations) 1 }}s{{ end }}</dt>
                        <dd>{{ range $index, $organization := .Params.organizations }}{{ if gt $index 0 }}, {{ end }}<a href="{{ $.Site.BaseURL }}organization/{{ . | urlize }}">{{ . }}</a>{{ end }}</dd>
                        {{ end }}

                        {{ if .Params.people }}
                        <dt><i class="fas fa-users"></i> People</dt>
                        <dd>

                            {{ range $index, $person := .Params.people }}{{ if gt $index 0 }}, {{ end }}<a href="{{ $.Site.BaseURL }}person/{{ . | urlize }}">{{ . }}</a>{{ end }}

                        </dd>
                        {{ end }}

                    </dl>

                </details>

                <section id="map"></section>

            </footer>
        </div>
    </article>

    {{ if .Site.Params.disqusShortname }}
    <section>
        {{ template "_internal/disqus.html" . }}
    </section>
    {{ end }}

</main>
{{ partial "footer.html" . }}
