{{ partial "header.html" . }}

<main role="main" class="mt-3">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <article class="article" itemscope itemtype="http://schema.org/Event">
                    <div class="text-center">
                        <h1 itemprop="name">{{ .Title }}</h1>
                    </div>
                    <div class="content">
                        {{ .Content }}
                        {{ if .Params.project }}
                            <p>Hosted by
                                {{ if eq .Params.project "meetups" }}
                                    <a href="{{ $.Site.BaseURL }}project/{{ .Params.project | urlize }}">Refresh AV Meetups</a>. All are welcome!
                                {{ else if eq .Params.project "hoist" }}
                                    <a href="{{ $.Site.BaseURL }}project/{{ .Params.project | urlize }}">Hoist AV</a> is a space for teens interested in design, entrepreneurship, and programming.
                                {{ else if eq .Params.project "creative-computing" }}
                                    <a href="{{ $.Site.BaseURL }}project/{{ .Params.project | urlize }}">Creative Computing</a> is a series of workshops for kids interested in computer science.
                                {{ end }}
                            </p>
                        {{ end }}
                    </div>
                </article>
            </div>

            <div class="col-md-4">
                <div class=" card border-primary mb-3">
                    <section class="dropdown-section" role="group" open>
                            <div class="card-header bg-light mb-3 border-light">
                                <summary aria-expanded="false">Event Details</summary>
                            </div>
                            <dl class="inline">
                                <div class="card-body">
                                    {{ if .Date }}
                                        <div class="my-2">
                                            <dt>
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar" viewBox="0 0 16 16">
                                                    <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5M1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4z"/>
                                                </svg>
                                                Date</dt>
                                            <dd itemprop="startDate" content="{{ dateFormat "2006-01-02T15:04:05-07:00" .Date }}">{{ dateFormat "Monday, Jan 2, 2006 at 3:04PM" .Date }}
                                                {{ if lt .Date now }}<span class="warning label">Archived</span>{{ end }}</dd>
                                        </div>
                                    {{ end }}
                                    {{ if .Params.event_location }}
                                        <div class="my-2">
                                            <dt>
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
                                                    <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10m0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6m-4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4m-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10s-3.516.68-4.168 1.332c-.678.678-.83 1.418-.832 1.664z"/>
                                                </svg>
                                                Location</dt>
                                            <dd id="location">{{ .Params.event_location }}</dd>
                                        </div>
                                    {{ end }}
                                    {{ if .Params.project }}
                                        <div class="my-2">
                                            <dt>
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
                                                    <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0m4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4m-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10s-3.516.68-4.168 1.332c-.678.678-.83 1.418-.832 1.664z"/>
                                                </svg>
                                                Hosted By</dt>
                                            <dd id="host">
                                                {{ if eq .Params.project "meetups" }}<a href="{{ $.Site.BaseURL }}project/{{ .Params.project | urlize }}">Refresh AV Meetups</a>. All are welcome!
                                                {{ else if eq .Params.project "hoist" }}<a href="{{ $.Site.BaseURL }}project/{{ .Params.project | urlize }}">Hoist AV</a> is a space for teens interested in design, entrepreneurship, and programming.
                                                {{ else if eq .Params.project "creative-computing" }}<a href="{{ $.Site.BaseURL }}project/{{ .Params.project | urlize }}">Creative Computing</a> is a series of workshops for kids interested in computer science.
                                                {{ end }}
                                            </dd>
                                        </div>
                                    {{ end }}
                                    {{ if .Params.event_facebook }}
                                        <div class="my-2">
                                            <dt>
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar-event" viewBox="0 0 16 16">
                                                    <path d="M11 6.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5z"/><path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5M1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4z"/>
                                                </svg>
                                                {{ if lt .Date now }}Event Page{{ else }}RSVP{{ end }}</dt>
                                            <dd><a href="{{ .Params.event_facebook }}">Facebook</a></dd>
                                        </div>
                                    {{ end }}
                                    {{ if .Params.event_eventbright }}
                                        <div class="my-2">
                                            <dt>
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-ticket" viewBox="0 0 16 16">
                                                    <path d="M0 4.5A1.5 1.5 0 0 1 1.5 3h13A1.5 1.5 0 0 1 16 4.5V6a.5.5 0 0 1-.5.5 1.5 1.5 0 0 0 0 3 .5.5 0 0 1 .5.5v1.5a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 11.5V10a.5.5 0 0 1 .5-.5 1.5 1.5 0 1 0 0-3A.5.5 0 0 1 0 6zM1.5 4a.5.5 0 0 0-.5.5v1.05a2.5 2.5 0 0 1 0 4.9v1.05a.5.5 0 0 0 .5.5h13a.5.5 0 0 0 .5-.5v-1.05a2.5 2.5 0 0 1 0-4.9V4.5a.5.5 0 0 0-.5-.5z"/>
                                                </svg>Get Tickets</dt>
                                            <dd><a href="{{ .Params.event_eventbright }}">Eventbright</a></dd>
                                        </div>
                                    {{ end }}
                                    {{ if .Params.people }}
                                        <div class="my-2">
                                            <dt>
                                                {{ if gt (len .Params.people) 1 }}
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
                                                    <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0m4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4m-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10s-3.516.68-4.168 1.332c-.678.678-.83 1.418-.832 1.664z"/></svg>{{ else }}<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-people" viewBox="0 0 16 16"><path d="M15 14s1 0 1-1-1-4-5-4-5 3-5 4 1 1 1 1zm-7.978-1L7 12.996c.001-.264.167-1.03.76-1.72C8.312 10.629 9.282 10 11 10c1.717 0 2.687.63 3.24 1.276.593.69.758 1.457.76 1.72l-.008.002-.014.002zM11 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4m3-2a3 3 0 1 1-6 0 3 3 0 0 1 6 0M6.936 9.28a6 6 0 0 0-1.23-.247A7 7 0 0 0 5 9c-4 0-5 3-5 4q0 1 1 1h4.216A2.24 2.24 0 0 1 5 13c0-1.01.377-2.042 1.09-2.904.243-.294.526-.569.846-.816M4.92 10A5.5 5.5 0 0 0 4 13H1c0-.26.164-1.03.76-1.724.545-.636 1.492-1.256 3.16-1.275ZM1.5 5.5a3 3 0 1 1 6 0 3 3 0 0 1-6 0m3-2a2 2 0 1 0 0 4 2 2 0 0 0 0-4"/>
                                                </svg>
                                                {{ end }}Presenter{{ if gt (len .Params.people) 1 }}s{{ end }}</dt>
                                            <dd>
                                                {{ range $index, $person := .Params.people }}
                                                    {{ if gt $index 0 }}, {{ end }}
                                                        <span itemprop="performer" itemscope="" itemtype="http://schema.org/Person">
                                                            <a itemprop="url" href="{{ $.Site.BaseURL }}person/{{ . | urlize }}">
                                                                <span itemprop="name">{{ . }}</span>
                                                            </a>
                                                        </span>
                                                {{ end }}
                                            </dd>
                                        </div>
                                    {{ end }}
                                    {{ if .Params.organizations }}
                                        <div class="my-2">
                                            <dt>
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-building" viewBox="0 0 16 16">
                                                    <path d="M4 2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5zm3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5zm3.5-.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zM4 5.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5zM7.5 5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zm2.5.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5zm3.5-.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5z"/><path d="M2 1a1 1 0 0 1 1-1h10a1 1 0 0 1 1 1v14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1zm11 0H3v14h3v-2.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 .5.5V15h3z"/>
                                                </svg>
                                                Organization{{ if gt (len .Params.organizations) 1 }}s{{ end }}</dt>
                                            <dd>
                                                {{ range $index, $organization := .Params.organizations }}
                                                    {{ if gt $index 0 }}, {{ end }}
                                                    <span itemprop="contributor" itemscope="" itemtype="http://schema.org/Organization">
                                                        <a itemprop="url" href="{{ $.Site.BaseURL }}organization/{{ . | urlize }}">
                                                            <span itemprop="name">{{ . }}</span>
                                                        </a>
                                                    </span>
                                                {{ end }}
                                            </dd>
                                        </div>
                                    {{ end }}
                                    {{ if .Params.resources }}
                                        <div class="my-2">
                                            <dt><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-wrench" viewBox="0 0 16 16"><path d="M.102 2.223A3.004 3.004 0 0 0 3.78 5.897l6.341 6.252A3.003 3.003 0 0 0 13 16a3 3 0 1 0-.851-5.878L5.897 3.781A3.004 3.004 0 0 0 2.223.1l2.141 2.142L4 4l-1.757.364zm13.37 9.019l.528.026.287.445.445.287.026.529L15 13l-.242.471-.026.529-.445.287-.287.445-.529.026L13 15l-.471-.242-.529-.026-.287-.445-.445-.287-.026-.529L11 13l.242-.471.026-.529.445-.287.287-.445.529-.026L13 11z"/></svg>Resources</dt>
                                            <dd>
                                                <ul>
                                                {{ range $index, $resource := .Params.resources }}
                                                    <li>
                                                    {{ range $key, $value := . }}
                                                        {{ if eq $key "title"}}
                                                            {{ $.Scratch.Set "title" $value }}
                                                        {{ end }}
                                                        {{ if eq $key "url"}}
                                                            {{ $.Scratch.Set "url" $value }}
                                                        {{ end }}
                                                    {{ end }}
                        
                                                        <a href="{{ $.Scratch.Get "url" }}">
                                                            {{ $.Scratch.Get "title" }}
                                                        </a>
                                                    </li>
                        
                                                {{ end }}
                                                </ul>
                                            </dd>
                                        </div>
                                    {{ end }}
                                </div>
                            </dl>
                    </section>
                </div>
            </div>
        </div>
    </div>
</main>

{{ partial "footer.html" . }}
