<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="https://glitch.com/favicon.ico" />
  
    <title>Creativ Computing Fall 2023</title>

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@5/dist/vapor/bootstrap.min.css">
    <!-- fonts imported for project-->
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">

    <!-- import the webpage's javascript file -->
    <script src="/script.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5/dist/js/bootstrap.bundle.min.js"></script>

    <!-- Font Import -->
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">

  </head>
  <body class="pt-5" style="font-family: 'Press Start 2P', cursive;">
    
    <!-- Section to add the navigation bar and allow switching of pages-->
    <nav class="navbar navbar-expand-lg bg-primary fixed-top" data-bs-theme="dark">
      <div class="container-fluid">
        <!-- TODO: play with getting branding in here Done -->
        <a class="navbar-brand" href="#" style="font-weight: bold; font-size: 1.5rem; color: Blue">
          Refresh Annapolis Valley
        </a>
        <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
          <div class="navbar-collapse collapse" id="navbarColor01">
          <ul class="navbar-nav me-auto">
            <li class="nav-item">
              <a class="nav-link" href="#" style="font-size: 1.2rem;">Home <span class="visually-hidden">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" style="font-size: 1.2rem;">Events</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" style="font-size: 1.2rem;">People</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" style="font-size: 1.2rem;">Orgs</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" style="font-size: 1.2rem;">Projects</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" style="font-size: 1.2rem;">Blog</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>