[submodule "static/slides/processing"]
	path = static/slides/processing
	url = https://github.com/RefreshAV/klc-generative-art-with-processing
[submodule "static/slides/intro-to-ai"]
	path = static/slides/intro-to-ai
	url = https://github.com/RefreshAV/llc-intro-to-ai-master
[submodule "static/slides/scratch-art"]
	path = static/slides/scratch-art
	url = https://github.com/RefreshAV/klc-artmaking-with-scratch.git
[submodule "static/slides/scratch-stories"]
	path = static/slides/scratch-stories
	url = https://github.com/RefreshAV/klc-animating-with-scratch.git
