{{ partial "header.html" . }}

<main role="main">
    <article class="article" itemscope itemtype="http://schema.org/Article">
        <header data-interchange="[{{ "/images/404-small.jpg" | absURL }}, small], [{{ "/images/404-medium.jpg" | absURL }}, medium], [{{ "/images/404-large.jpg" | absURL }}, large]" title="{{ .Title }}" alt="{{ .Title }}">

            <div class="row columns small-up-2 medium-up-3 large-up-4">
                <h1 itemprop="name">{{ .Title }}</h1>
            </div>

        </header>

        <div class="row" id="lost">

            <main class="columns small-up-2 medium-up-3 large-up-4">

                <p class="text-center">
                    <i class="fas fa-ghost"></i>
                </p>

            </main>
        </div>

    </article>
</main>

{{ partial "footer.html" . }}
