<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="48 hours weekend idea lab pairing food thinkers with New Media builders.">
    <meta name="author" content="Michael Caplan">
    <meta property="og:title" content="F5://Food (Refresh Food) - A 48 Hour Idea Lab"/>
    <meta property="og:type" content="website"/>
    <meta property="og:description" content="48 hours weekend idea lab pairing food thinkers with New Media builders."/>
    <meta property="og:url" content="http://food.refreshannapolisvalley.org/"/>
    <meta property="og:image" content="http://food.refreshannapolisvalley.org/img/f5food.png"/>

    <title>F5://Food (Refresh Food) - A 48 Hour Idea Lab</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">

    <!-- Add custom CSS here -->
    <link href="css/stylish-portfolio.css?3" rel="stylesheet">
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="css/select2.css" rel="stylesheet">
    <link href="css/select2-bootstrap.css" rel="stylesheet">

    <script src="js/modernizr-2.6.2.min.js"></script>
</head>

<body>

<!-- Side Menu -->
<a id="menu-toggle" href="#" class="btn btn-primary btn-lg toggle"><i class="fa fa-reorder"></i></a>
<div id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <a id="menu-close" href="#" class="btn btn-default btn-lg pull-right toggle"><i class="fa fa-minus"></i></a>
        <li class="sidebar-brand">
            <a href="#top" title="Refresh Food">
                <i class="fa fa-cutlery"></i>
                F5://Food
            </a>
        </li>
        <li>
            <a href="#intro">
                <i class="fa fa-flag"></i>
                Intro
            </a>
        </li>
        <li>
            <a href="#about">
                <i class="fa fa-flask"></i>
                About
            </a>
        </li>
        <li>
            <a href="#sign-up">
                <i class="fa fa-pencil-square-o"></i>
                Sign Up
            </a>
        </li>
        <li>
            <a href="#blog">
                <i class="fa fa-rocket"></i>
                Latest News
            </a>
        </li>
        <li>
            <a href="#schedule">
                <i class="fa fa-calendar-o"></i>
                Schedule
            </a>
        </li>
        <li>
            <a href="#stewards">
                <i class="fa fa-anchor"></i>
                Stewards
            </a>
        </li>
        <li>
            <a href="#sponsors">
                <i class="fa fa-heart"></i>
                Sponsors
            </a>
        </li>
        <li>
            <a href="#contact">
                <i class="fa fa-envelope"></i>
                Contact
            </a>
        </li>
        <li>
            <a href="https://www.facebook.com/refreshfood">
                <i class="fa fa-facebook"></i>
                Facebook
            </a>
        </li>
        <li>
            <a href="https://twitter.com/f5food">
                <i class="fa fa-twitter"></i>
                Twitter
            </a>
        </li>
    </ul>
</div>
<!-- /Side Menu -->

<!-- Full Page Image Header Area -->
<div id="top" class="header">
    <div class="vert-text">
        <h1 title="Refresh Food">F5://Food</h1>
        <h3>A 48 Hour Idea Lab</h3>
        <a href="#intro" class="btn btn-default btn-lg">
            <i class="fa fa-cutlery"></i>
            Find Out More
            <i class="fa fa-cutlery"></i>
        </a>
    </div>
</div>
<!-- /Full Page Image Header Area -->

<!-- Intro -->
<div id="intro" class="intro">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center">
                <iframe width="100%" height="350" src="//www.youtube.com/embed/Ylh5pVcghvI?rel=0&wmode=opaque" frameborder="0" allowfullscreen></iframe>

                <a class="btn btn-lg btn-success" data-toggle="modal" href="#signupModal">
                    <i class="fa fa-pencil-square-o"></i>
                    Sign Up
                </a>
            </div>
        </div>
    </div>
</div>
<!-- /Intro -->

<!-- About -->
<div id="about" class="about">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4 text-center">
                <h2>
                    <i class="fa fa-flask"></i>
                    About <abbr data-toggle="tooltip" title="Refresh Food">F5://Food</abbr>
                </h2>
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col-md-2 col-md-offset-2 text-center">
                <div class="about-item">
                    <i class="about-icon fa fa-question-circle"></i>
                    <h4>What</h4>
                    <p>An incubation lab for startup ventures in the <abbr data-toggle="tooltip" title="Think interactive forms of communication that use the Internet - WWW and mobile apps">New Media</abbr> space that focuses on one of our greatest assets here in the Annapolis Valley: <em>Food!</em></p>
                </div>
            </div>
            <div class="col-md-2 text-center">
                <div class="about-item">
                    <i class="about-icon fa fa-gears"></i>
                    <h4>Format</h4>
                    <p>48 hours hackathon/startup weekend that pairs food-idea people with <abbr data-toggle="tooltip" title="Think interactive forms of communication that use the Internet - WWW and mobile apps">New Media</abbr> builders.</p>
                </div>
            </div>
            <div class="col-md-2 text-center">
                <div class="about-item">
                    <i class="about-icon fa fa-bullseye"></i>
                    <h4>Target</h4>
                    <p>Rethinking the age old problems of:
                        <em>production</em>,
                        <em>distribution</em>,
                        <em>and consumption</em>.</p>
                </div>
            </div>
            <div class="col-md-2 text-center">
                <div class="about-item">
                    <i class="about-icon fa fa-calendar-o"></i>
                    <h4>When</h4>
                    <p>Clear your calendar for the weekend of January 17<sup>th</sup> to 19<sup>th</sup>, 2014.  <a href="http://virtualtour.acadiau.ca/sheldon-l-fountain-learning-commons.html">Acadia University</a> here in the Annapolis Valley, N.S.</p>
                </div>
            </div>
        </div>

        <div class="row pitch">
            <div class="col-md-4 col-md-offset-2 text-center">
                <div class="about-item">
                    <i class="about-icon fa fa-lightbulb-o"></i>
                    <h4>What is Your Big Idea to<br /> Refresh <span class="label label-default" id="pitch-idea">Food Production</span> ?</h4>

                    <ul id="pitch-ideas" class="invisible">
                        <li>Food Production</li>
                        <li>Food Sustainability</li>
                        <li>Food Nutrition</li>
                        <li>Regional Food</li>
                        <li>Food and Fitness</li>
                        <li>Agricultural Scalability</li>
                        <li>Food Storage</li>
                        <li>Food Processing</li>
                        <li>Food Distribution</li>
                        <li>Food Discovery</li>
                        <li>Food Sharing</li>
                        <li>Food Consumption</li>
                        <li>Farmland</li>
                        <li>Crop Management</li>
                        <li>Eating</li>
                        <li>Agriculture</li>
                        <li>Restaurants</li>
                        <li>Food Communities</li>
                        <li>Food Policy</li>
                        <li>Food Security</li>
                        <li>Food Waist</li>
                    </ul>

                    <p>F5://Food is an occasion to work with agri-food pioneers to develop innovative solutions to address particular problems or opportunities.</p>
                    <p>Pitching your idea at F5://Food is an opportunity to form a group with like minded individuals to help develop the concept over the course of the weekend.</p>
                </div>
            </div>

            <div class="col-md-4 text-center">
                <div class="about-item">
                    <i class="about-icon fa fa-dollar"></i>
                    <h4>Win Big!</h4>

                    <p>$2000 in prizes to be won to propel your startup to the next level.  $1000 cash prize and $1000 business development consulting services provided by <a href="http://farmworks.ca/">FarmWorks Investment Co-op</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /About -->

<!-- signup -->
<div id="sign-up" class="sign-up">
    <div class="vert-text">
        <h1>Ready to Start Cooking?</h1>
        <a class="btn btn-lg btn-success" data-toggle="modal" href="#signupModal">
            <i class="fa fa-pencil-square-o"></i>
            Let's do this!
        </a>
    </div>
</div>
<!-- /signup -->

<!-- Blog -->
<div id="blog" class="blog">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4 text-center">
                <h2>
                    <i class="fa fa-rocket"></i>
                    Latest News
                </h2>
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center blog-items">
                <i class="fa fa-spinner fa-spin"></i> Loading...
            </div>
        </div>
    </div>
</div>
<!-- /Blog -->

<!-- Schedule -->
<div id="schedule" class="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4 text-center">
                <h2>
                    <i class="fa fa-calendar-o"></i>
                    F5://Food Schedule
                </h2>
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 col-md-offset-4">

                <h4>The event is taking place at:</h4>

                <p>
                    <a href="https://goo.gl/maps/vGOK5" style="color:#3c96e2" target ="_blank" title="Sheldon L. Fountain Learning Commons">Sheldon L. Fountain Learning Commons</a><br />
                    Acadia University<br />
                    26 Crowell Dr.<br />
                    Wolfville, NS
                </p>

                <hr />

                <h4>Friday</h4>

                <dl class="dl-horizontal">
                    <dt>6 - 7 PM</dt>
                    <dd>Registration, networking and snacks</dd>

                    <dt>7 - 8 PM</dt>
                    <dd>Idea pitches start</dd>

                    <dt>8 - 8:30 PM</dt>
                    <dd>Voting on pitches for top ideas</dd>

                    <dt>8:30 PM ++</dt>
                    <dd>Teams are formed.  Teams begin with taking inventory of skills and setting weekend objectives.  Workspace closes at 11PM.</dd>
                </dl>

                <h4>Saturday</h4>

                <dl class="dl-horizontal">
                    <dt>9 AM</dt>
                    <dd>Lite breakfast and teams fire up their engines</dd>

                    <dt>9:30 - 10 AM</dt>
                    <dd>&quot;Lean Business Model Canvas Crash Course&quot; with Paul Richards</dd>

                    <dt>12 PM</dt>
                    <dd>Lunch</dd>

                    <dt>12:30 - 1 PM</dt>
                    <dd>&quot;How to Pitch Crash Course&quot; with Paul Richards</dd>

                    <dt>1 PM</dt>
                    <dd>Check-in and calls for help</dd>

                    <dt>2 - 4 PM</dt>
                    <dd>Mentors help teams</dd>

                    <dt>6 PM</dt>
                    <dd>Dinner</dd>

                    <dt>8 PM++</dt>
                    <dd>Teams close shop for the day, or hang out till 11PM.</dd>
                </dl>

                <h4>Sunday</h4>

                <dl class="dl-horizontal">
                    <dt>9 AM</dt>
                    <dd>Lite breakfast and teams fire up their engines</dd>

                    <dt>10 AM</dt>
                    <dd>Check-in and calls for help</dd>

                    <dt>10 - 12 PM</dt>
                    <dd>Mentors help teams</dd>

                    <dt>12 PM</dt>
                    <dd>Lunch</dd>

                    <dt>1 PM</dt>
                    <dd>Prep for final presentation</dd>

                    <dt>2 - 3 PM</dt>
                    <dd>Final presentations</dd>

                    <dt>3:30 - 4 PM</dt>
                    <dd>Judging and awards</dd>

                    <dt>4 PM++</dt>
                    <dd>Celebrations, cash bar and wrap-up</dd>
                </dl>

            </div>
        </div>

    </div>
</div>
<!-- /Schedule -->


<!-- Mentors -->
<div id="mentors" class="mentors">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4 text-center">
                <h2>
                    <i class="fa fa-group"></i>
                    F5://Food Mentors &amp; Judges
                </h2>
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 col-md-offset-4">

                <h4>Mentors</h4>

                <dl>
                    <dt>Anne Anderson</dt>
                    <dd>Vice Chair, FarmWorks</dd>

                    <dt>Alison Scott Butler</dt>
                    <dd>Lawyer, FarmWorks</dd>

                    <dt>Paul DesBarres</dt>
                    <dd>Market Researcher, Nova Insights</dd>

                    <dt>Chris Duyvelshoff</dt>
                    <dd>Hoticulturalist, Perennia</dd>

                    <dt>David Fagan</dt>
                    <dd>Chartered Accountant, Maynard Bent & Fagan Chartered Accountants</dd>

                    <dt>Vickie Gray</dt>
                    <dd>Learning Manager, Acadia Entrepreneurship Centre</dd>

                    <dt>Peter Hicklenton</dt>
                    <dd>Crop Production Systems Scientist, FarmWorks Advisors</dd>

                    <dt>Lisa Lowthers</dt>
                    <dd>Senior Business Counsellor and Trainer, Acadia Entrepreneurship Centre</dd>

                    <dt>Shane Patelakis</dt>
                    <dd>IRAP, Industrial Technology Advisor, National Research Council Canada</dd>

                    <dt>Paul Reeves</dt>
                    <dd>Leadership Consultant, Business Improvement Results</dd>

                    <dt>Danny Silver</dt>
                    <dd>Professor in the Jodrey School of Computer Science & Acadia Institute for Data Analytics, Acadia University</dd>
                </dl>

                <h4>Judges</h4>

                <dl>
                    <dt>Linda Best</dt>
                    <dd>Secretary and Founding Member of FarmWorks, Chair Friends of Agriculture in NS, Member NS Food Policy Council, Medical Microbiologist </dd>

                    <dt>Leigh Huestis</dt>
                    <dd>Director, Office of Industry & Community Engagement (ICE) at Acadia University</dd>

                    <dt>TBA</dt>
                    <dd>&nbsp;</dd>

                </dl>

            </div>
        </div>

    </div>
</div>
<!-- /Mentors -->

<!-- Stewards -->
<div id="stewards" class="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4 text-center">
                <h2>
                    <i class="fa fa-anchor"></i>
                    F5://Food Stewards
                </h2>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-md-offset-2 text-center">
                <div class="portfolio-item">
                    <img class="img-portfolio img-responsive" src="img/adam.jpg">
                    <h4>Adam Barnett</h4>
                    <p>Adam Barnett is a recent returnee to Wolfville and is once again in love with the town and its people. These days he is obsessed with maps of all forms and is working as the GIS (Geographic information Systems) technician for the <a href="http://www.county.kings.ns.ca/">Municipality of Kings County</a>. His passion continues to revolve around food, technology, community, and a love of the outdoors. </p>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="portfolio-item">
                    <img class="img-portfolio img-responsive" src="img/mike.jpg">
                    <h4>Mike Caplan</h4>
                    <p>Michael has been active as a web application developer and web designer for 16 years, working in the non-profit, university, retail, agricultural, and dental industries. He is a founding partner of <a href="http://www.harvesthand.com/">HarvestHand</a>, a platform that services Community Shared Agriculture farms.  More recently, Mike founded <a href="http://www.f5av.org/">Refresh Annapolis Valley</a>, a new media professional association to help grow the Valley's technology industry.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-md-offset-2 text-center">
                <div class="portfolio-item">
                    <img class="img-portfolio img-responsive" src="img/duncan.jpg">
                    <h4>Duncan Ebata</h4>
                    <p>Duncan makes branding and interactive marketing easy for mission-based businesses. Duncan believes that developing sustainable regional food systems is paramount and that new media technology is an essential enabler. He is a partner at <a href="http://www.shiftmobile.ca/">Shift! Mobile Interactive</a> and <a href="http://www.harvesthand.com">HarvestHand</a>. Currently, Duncan works with <a href="http://www.colibri-software.com/">Colibri Software</a>, the <a href="http://www.acsbe.com/">Acadia Centre for Social and Business Entrepreneurship</a> (ACSBE), <a href="http://eastcoastorganicmilk.ca/">East Coast Organic Milk</a>, and <a href="http://farmworks.ca/">FarmWorks Investment Co-operative</a>.</p>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="portfolio-item">
                    <img class="img-portfolio img-responsive" src="img/gary.jpg">
                    <h4>Gary Morton</h4>
                    <p>Gary owns and operates <a href="http://www.porthort.com/">Morton Horticultural Associates</a>.  Gary's work is based on helping his clients find new value and profit in what they do.  For over 30 years Morton Horticultural Associates has provided specialized consulting and coaching-service strategies for clients with agricultural based businesses in the area of value-added product development, commercialization and marketing strategy.  He is co-author of <em>Adding Value through Farm Diversification</em> and <em>Farm Business Planning; Understanding, Preparing and Using</em>.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-md-offset-2 text-center">
                <div class="portfolio-item">
                    <img class="img-portfolio img-responsive" src="img/melissa.jpg">
                    <h4>Melissa Quinn</h4>
                    <p>Melissa is the Manager of the Acadia Entrepreneurship Centre Innovation and Incubation Services. The goal of the Centre is to facilitate industry engagement with Acadia University staff and resources in three key sectors: tidal energy; agri-food; and information and communications technology. Melissa is presently involved in the delivery of the <a href="http://www.acsbe.com/">Acadia Entrepreneurship Centre</a> programming and business incubation services for business development practitioners, business owners, students and non-profits. Melissa has over 7 years of business and product development experience in the Agri-Food sector and has worked with many rural businesses to commercialize and successfully launch new and innovative products to the marketplace.</p>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="portfolio-item">
                    <img class="img-portfolio img-responsive" src="img/paul.jpg">
                    <h4>Paul Richards</h4>
                    <p>Paul Richards is <a href="http://innovacorp.ca/">Innovacorp</a>'s business development consultant for the Annapolis Valley area. In this role, Paul focuses on enabling knowledge-based companies to accelerate their growth and helps to foster a dynamic high-growth entrepreneurial culture in the region.  Paul spent over 10 years working with the Acadia Centre for Social and Business Entrepreneurship (ACSBE) assisting businesses in rural Nova Scotia. Paul also worked to build the entrepreneurial capacity and infrastructure of several developing economies in Africa.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-md-offset-2 text-center">
                <div class="portfolio-item">
                    <img class="img-portfolio img-responsive" src="img/john.jpg">
                    <h4>John Read</h4>
                    <p>John is the Founder and President of <a href="http://www.colibri-software.com/">Colibri Software</a>. He has more than fifteen years of experience in software development. He was a postdoctoral researcher at Waterloo and Simon Fraser University and taught Computer Science at Acadia University full time for a number of years. He is currently an Adjunct Professor in <a href="http://cs.acadiau.ca/">Acadia's school of Computer Science</a>. John has also developed software at a number of companies in the US and Canada in the areas of 3D modeling, micro-electronics and GIS systems. </p>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="portfolio-item">
                    <img class="img-portfolio img-responsive" src="img/frances.jpg">
                    <h4>Frances Shagen</h4>
                    <p>Frances is fascinated with what it takes to create entrepreneurial ecosystems. Her 15 years of running Crystal Clear Bookkeeping Ltd, helping hundreds of business owners, and producing business events has been the perfect laboratory to test assumptions.  She took what she learned from working with small business owners and wrote <a href="http://youreffortlessbusiness.wordpress.com/">Your Effortless Business</a>.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-md-offset-2 text-center">
                <div class="portfolio-item">
                    <!-- <img class="img-portfolio img-responsive" src="img/john.jpg"> -->
                    <h4>Jeff Wentzell</h4>
                    <p>Jeff is a Business Development Officer at the Nova Scotia Department of Agriculture.</p>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="portfolio-item">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Stewards -->

<!-- Sponsors -->
<div id="sponsors" class="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4 text-center">
                <h2>
                    <i class="fa fa-heart"></i>
                    F5://Food Sponsors
                </h2>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-md-offset-2 text-center">
                <div class="portfolio-item">
                    <a href="http://www2.acadiau.ca/">
                        <img class="img-portfolio img-responsive" src="img/acadia.jpg" alt="Acadia University">
                    </a>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="portfolio-item">
                    <a href="http://www.acsbe.com/">
                        <img class="img-portfolio img-responsive" src="img/aec.png" alt="Acadia Entrepreneurship Centre">
                    </a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 col-md-offset-2 text-center">
                <div class="portfolio-item">
                    <a href="http://www.colibri-software.com/">
                        <img class="img-portfolio img-responsive" src="img/colibri.jpg" alt="Colibri Software">
                    </a>
                </div>
            </div>

            <div class="col-md-4 text-center">
                <div class="portfolio-item">
                    <a href="http://www.harvesthand.com">
                        <img class="img-portfolio img-responsive" src="img/harvesthand.jpg" alt="HarvestHand New Media Communities">
                    </a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 col-md-offset-2 text-center">
                <div class="portfolio-item">
                    <a href="http://innovacorp.ca/">
                        <img class="img-portfolio img-responsive" src="img/innovacorp.jpg" alt="innovacorp">
                    </a>
                </div>
            </div>

            <div class="col-md-4 text-center">
                <div class="portfolio-item">
                    <a href="http://county.kings.ns.ca/">
                        <img class="img-portfolio img-responsive" src="img/kings.png" alt="Municipality of the County of Kings">
                    </a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 col-md-offset-2 text-center">
                <div class="portfolio-item">
                    <a href="http://farmworks.ca/">
                        <img class="img-portfolio img-responsive" src="img/farmworks.jpg" alt="FarmWorks Investment Co-op">
                    </a>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="portfolio-item">
                    <a href="http://youreffortlessbusiness.wordpress.com/">
                        <img class="img-portfolio img-responsive" src="img/yeb.jpg" alt="Your Effortless Business">
                    </a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 col-md-offset-2 text-center">
                <div class="portfolio-item">
                    <a href="http://www.justuscoffee.com/">
                        <img class="img-portfolio img-responsive" src="img/justus.png" alt="Just Us! Coffee Roasters Co-op">
                    </a>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="portfolio-item">

                </div>
            </div>
        </div>

    </div>
</div>
<!-- /Sponsors -->

<!-- Footer -->
<footer id="contact">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center">
                <h3>What Are You Waiting For?</h3>
                <a class="btn btn-lg btn-default" data-toggle="modal" href="#signupModal">
                    <i class="fa fa-hand-o-right"></i>
                    Let's do this!
                </a>

                <h3>Contact Us</h3>
                <ul class="list-inline">
                    <li>
                        <a href="https://www.facebook.com/refreshfood">
                            <i class="fa fa-facebook fa-2x"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://twitter.com/f5food">
                            <i class="fa fa-twitter fa-2x"></i>
                        </a>
                    </li>
                    <li>
                        <a href="mailto:food@f5av.org">
                            <i class="fa fa-envelope fa-2x"></i>
                        </a>
                    </li>
                </ul>

                <hr>
                <p><a href="http://www.refreshannapolisvalley.org/">Refresh Annapolis Valley</a> <i class="fa fa-leaf"></i> 2013 - 2014</p>
            </div>
        </div>
    </div>
</footer>
<!-- /Footer -->
<div class="map">
    <iframe width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Acadia+University,+15+University+Avenue,+Wolfville,+NS+B4P+2R6,+Canada&amp;sll=45.099578,-64.37705&amp;sspn=0.034958,0.080338&amp;ie=UTF8&amp;hq=Acadia+University,+15+University+Avenue,+Wolfville,+NS+B4P+2R6,+Canada&amp;t=m&amp;cid=16161294901569886242&amp;hnear=&amp;ll=45.102789,-64.367266&amp;spn=0.02908,0.054932&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Acadia+University,+University+Avenue,+Wolfville,+NS,+Canada&amp;aq=0&amp;oq=Aca&amp;sll=37.778449,-122.417135&amp;sspn=0.019572,0.040169&amp;ie=UTF8&amp;hq=Acadia+University,+University+Avenue,+Wolfville,+NS,+Canada&amp;t=m&amp;cid=16161294901569886242&amp;hnear=&amp;ll=45.088914,-64.368124&amp;spn=0.029087,0.054932&amp;z=14&amp;iwloc=A" style="color:#0000FF;text-align:left"></a></small>
</div>

<div id="signupModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="signupModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><strong>&times;</strong></button>
                <h4 class="modal-title" id="signupModalLabel">
                    <i class="fa fa-cutlery"></i>
                    Hack Yes
                </h4>
            </div>
            <div class="modal-body">

                <div class="alert alert-danger alert-block">
                    <h4><i class="fa fa-warning"></i> Crap</h4>
                    <p>Something went wrong processing your payment</p>
                </div>

                <form class="form-horizontal" method="post">
                    <fieldset>
                        <legend>
                            <i class="fa fa-user"></i>
                            Who Are You?
                        </legend>
                        <div class="form-group">
                            <label for="name" class="col-lg-4 control-label">My name is</label>
                            <div class="col-lg-8">
                                <input type="text"
                                       id="name"
                                       name="name"
                                       required="required"
                                       placeholder="Bob Buttons"
                                       class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="email" class="col-lg-4 control-label">Email me at</label>
                            <div class="col-lg-8">
                                <input type="email"
                                       id="email"
                                       name="email"
                                       required="required"
                                       placeholder="email@email.email"
                                       class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="type" class="col-lg-4 control-label">I'm a</label>
                            <div class="col-lg-8">
                                <select multiple name="type[]" id="type" class="form-control" placeholder="Who are you?">
                                    <option value="developer" title="Software engineers, coders, hackers, data geeks">Developer</option>
                                    <option value="designer" title="Interactive designers, graphic designers, UI/ UX experts">Designer</option>
                                    <option value="business" title="Business person, strategists, branders, marketing & PR pros">Business Pro</option>
                                    <option value="marketer" title="Branders, marketing & PR pros">Marketer</option>
                                    <option value="farmer" title="Food growers, ranchers">Farmer</option>
                                    <option value="distributor" title="Distributors, markets, retailers">Distributor</option>
                                    <option value="chef" title="Processors, chefs, restaurateurs">Food Maker</option>
                                    <option value="policy" title="Food analysts, sustainability experts, food visionaries">Food Policy-ist</option>
                                    <option value="onlooker" title="Just checking out the Sunday pitches">Onlooker</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group" id="have-idea-group">
                            <label for="have-idea" class="col-lg-4 control-label">I have a big idea</label>
                            <div class="col-lg-8">
                                <input type="checkbox"
                                       id="have-idea"
                                       name="have-idea"
                                       value="1">
                                <span class="help-block">Pitching your big idea for F5://Food is an opportunity to develop it over the course of the event.</span>
                            </div>
                        </div>

                        <div class="form-group" id="idea-group">
                            <label for="idea" class="col-lg-4 control-label">Let me describe it</label>
                            <div class="col-lg-8">
                                <textarea id="idea" name="idea" class="form-control" rows="4" placeholder="Briefly describe the agri-food problem/opportunity you would like to work on at F5://Food"></textarea>
                            </div>
                        </div>
                    </fieldset>

                    <fieldset>
                        <legend>
                            <i class="fa fa-money"></i>
                            Payment Info
                        </legend>

                        <div class="form-group">
                            <label for="number" class="col-lg-4 control-label">I'm a</label>
                            <div class="col-lg-8">
                                <label class="radio-inline">
                                    <input type="radio"
                                           id="rate-regular"
                                           name="rate"
                                           value="regular"
                                           checked /> <abbr data-toggle="tooltip" title="By regular we mean super">Regular Person</abbr> ($40)
                                </label>
                                <label class="radio-inline">
                                    <input type="radio"
                                           id="rate-student"
                                           name="rate"
                                           value="student" /> <abbr data-toggle="tooltip" title="Be sure to bring your student ID for registration">Student</abbr> ($20)
                                </label>
                                <label class="radio-inline">
                                    <input type="radio"
                                           id="rate-onlooker"
                                           name="rate"
                                           value="onlooker" /> <abbr data-toggle="tooltip" title="You plan on checking out the Sunday pitches and after-party">Onlooker</abbr> ($10)
                                </label>
                                <br />
                                <span class="help-block">Registration covers the awesome food we'll be feeding you over the weekend.</span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="number" class="col-lg-4 control-label">Card Number</label>
                            <div class="col-lg-8">
                                <input type="number"
                                       id="number"
                                       name="number"
                                       size="20"
                                       placeholder="16 Digit Card Number"
                                       required="required"
                                       class="form-control"
                                       data-stripe="number"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="cvc" class="col-lg-4 control-label">CVC</label>
                            <div class="col-lg-2">
                                <input type="number"
                                       id="cvc"
                                       name="cvc"
                                       size="4"
                                       placeholder="000"
                                       required="required"
                                       class="form-control"
                                       data-stripe="cvc"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="exp-month" class="col-lg-4 control-label">Expiration (MM/YYYY)</label>
                            <div class="col-lg-8">
                                <div class="row">
                                    <div class="col-lg-3">
                                        <input type="number"
                                               id="exp-month"
                                               name="exp-month"
                                               size="2"
                                               min="1"
                                               max="12"
                                               placeholder="MM"
                                               required="required"
                                               class="form-control"
                                               data-stripe="exp-month" />
                                    </div>
                                    <div class="col-lg-4">
                                        <input type="number"
                                               id="exp-year"
                                               name="exp-year"
                                               size="4"
                                               min="2013"
                                               max="2025"
                                               placeholder="YYYY"
                                               required="required"
                                               class="form-control"
                                               data-stripe="exp-year" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>

                    <div class="form-group">
                        <div class="col-lg-8 col-lg-offset-4">
                            <button type="submit" class="btn btn-primary">
                                <i class="fa fa-fire"></i>
                                Fire!
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div id="signupSuccessModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="signupSuccessModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><strong>&times;</strong></button>
                <h4 class="modal-title" id="signupSuccessModalLabel">
                    <i class="fa fa-cutlery"></i>
                    F5://Food
                </h4>
            </div>
            <div class="modal-body">
                <div class="alert alert-success alert-block">
                    <h4>
                        <i class="fa fa-smile-o"></i>
                        Oh Yes!
                    </h4>

                    <p>We'll be in touch in the week leading up to F5://Food with more details.  Tell your friends.</p>

                    <p>&nbsp;</p>

                    <!-- AddThis Button BEGIN -->
                    <div class="addthis_toolbox addthis_default_style addthis_32x32_style">
                        <a class="addthis_button_preferred_1"></a>
                        <a class="addthis_button_preferred_2"></a>
                        <a class="addthis_button_preferred_3"></a>
                        <a class="addthis_button_preferred_4"></a>
                        <a class="addthis_button_compact"></a>
                        <a class="addthis_counter addthis_bubble_style"></a>
                    </div>
                    <script type="text/javascript">var addthis_config = {"data_track_addressbar":false};</script>
                    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-51d10213524ccda3"></script>
                    <!-- AddThis Button END -->
                </div>
            </div>
        </div>
    </div>
</div>

<div id="redirectModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="redirectModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><strong>&times;</strong></button>
                <h4 class="modal-title" id="redirectModalLabel">
                    F5://Food
                    <i class="fa fa-lock"></i>
                </h4>
            </div>
            <div class="modal-body">
                <div class="alert alert-info alert-block">
                    <h4>Hang Tight! <i class="fa fa-spinner fa-spin"></i></h4>
                    <p>Redirecting to a secure connection.</p>
                </div>
            </div>
        </div>
    </div>
</div>




<!-- Bootstrap core JavaScript -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/jquery-1.9.1.min.js"><\/script>')</script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.validate.min.js"></script>
<script src="js/select2.min.js"></script>
<script src="https://js.stripe.com/v2/"></script>
<script src="js/plugins.js"></script>
<script src="js/main.js?3"></script>
<script type="text/javascript">
    // This identifies your website in the createToken call below
    Stripe.setPublishableKey('{{ STRIPE_PUBLIC_KEY|e }}');
    // ...
</script>

</body>

</html>
