<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="includes/css/template.css" type="text/css" rel="stylesheet" />
    <title>Refresh Annapolis Valley</title>
</head>
<body>

<div id="pagecontainer">
    <h1><span class="stylize">Refresh</span><span class="normal"> Annapolis Valley</span></h1>
    <div class="pseudocolumn_left">
        <p>
            <a class="general foundicon-calendar" href="https://www.facebook.com/RefreshAnnapolisValley/events">Upcoming meetings</a>
            <br />
            <a class="general foundicon-inbox" href="http://eepurl.com/tS-K5">Subscribe to our mailing list</a>
            <br />
            <a class="general foundicon-people" href="http://refreshannapolisvalley.org/register">Register and join our ranks</a>
            <br />
            <a class="general foundicon-mail" href="mailto:info@refreshannapolisvalley.org">Send us an e-mail</a>
            <br />
            <a class="social foundicon-facebook" href="https://www.facebook.com/RefreshAnnapolisValley">Like us on Facebook</a>
            <br />
            <a class="social foundicon-twitter" href="http://twitter.com/RefreshAV">Follow us on Twitter</a>
        </p>
    </div>
    <div class="pseudocolumn_right">
        <p>
            <strong>Refresh</strong> is a community of designers and developers working to refresh
            <strong>the creative, technical, and professional culture of New Media</strong> endeavors
            in the Annapolis Valley while promoting design, technology, usability, and standards.
        </p>
        <p>
            <strong>Refresh meets the second Monday evening of each month</strong> in the
            Wolfville area. These are casual affairs with short, member-interest talks
            followed by an opportunity to mingle. <strong>All are welcome!</strong>
        </p>
        <p id="mailchimp_archive">
            <script language="javascript" src="http://us6.campaign-archive1.com/generate-js/?u=541eedc014006742efdd2ed17&fid=2625&show=50" type="text/javascript"></script>
        </p>
    </div>
</div>
</body>

<script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-37580538-1']);
    _gaq.push(['_trackPageview']);
    (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
</script>
</html>
