
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Looking Forward to You and F5://Food</title>

    <style type="text/css">
        .ExternalClass {width:100%;}

        .ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div {
            line-height: 100%;
        }

        body {-webkit-text-size-adjust:none; -ms-text-size-adjust:none;}

        body {margin:0; padding:0;}

        table td {border-collapse:collapse;}

        h1, h2, h3, h4, h5, h6 {
            color: black;
            line-height: 100%;
        }

        a, a:link {
            color:#2A5DB0;
            text-decoration: underline;
        }

        body, #body_style {
            background:#fff;
            min-height:1000px;
            color:#333;
            font-family:Arial, Helvetica, sans-serif;
            font-size:12px;
        }

        span.yshortcuts { color:#000; background-color:none; border:none;}
        span.yshortcuts:hover,
        span.yshortcuts:active,
        span.yshortcuts:focus {color:#000; background-color:none; border:none;}

        a:visited { color: #3c96e2; text-decoration: none}
        a:focus   { color: #3c96e2; text-decoration: underline}
        a:hover   { color: #3c96e2; text-decoration: underline}

        @media only screen and (max-device-width: 480px) {


            body[yahoo] #container1 {display:block !important}
            body[yahoo] p {font-size: 10px}

        }

        @media only screen and (min-device-width: 768px) and (max-device-width: 1024px)  {


            body[yahoo] #container1 {display:block !important}
            body[yahoo] p {font-size: 12px}

        }

    </style>


</head>
<body style="background:#fff; min-height:1000px; color:#333;font-family:Arial, Helvetica, sans-serif; font-size:12px"
      alink="#FF0000" link="#FF0000" bgcolor="#fff" text="#333" yahoo="fix">

<div id="body_style" style="padding:15px">

    <table cellpadding="0" cellspacing="0" border="0" bgcolor="#fff" width="600" align="center">
        <tr>
            <td width="10">&nbsp;</td>
            <td width="580">
                <p align="center">
                    <img src="https://chart.googleapis.com/chart?chs=300x300&cht=qr&choe=UTF-8&chl={{ qr|e('url') }}" alt="F5://Food" title="F5://Food" width="300" height="300"
                           style="display:block" border="0"/>
                </p>

                <p><strong>Welcome Fellow Food Hacker!</strong></p>

                <p>We're excited for you to come by and view the final pitches for our first ever agri-food + new media idea lab.
                    We hope F5://Food proves to be a dynamic environment allowing food entrepreneurs and new media builders
                    to experiment in the development of new technologies and services that can help forward opportunities
                    in food production, distribution, and consumption.</p>

                <p>
                    Final presentations and after-party will take place on Sunday, Jan. 19 at 2PM.
                </p>

                <p>
                    The event is taking place at:
                </p>

                <p style="margin-top:0">
                    <a href="https://goo.gl/maps/vGOK5" style="color:#3c96e2" target ="_blank" title="Sheldon L. Fountain Learning Commons">Sheldon L. Fountain Learning Commons</a><br />
                    Acadia University<br />
                    26 Crowell Dr.<br />
                    Wolfville, NS
                </p>

                <p>We'll be in touch with more details closer to event day.  If you have any questions <a href="mailto:food@f5av.org" style="color:#3c96e2" target ="_blank" title="food@f5av.org">drop us a note</a>.</p>

                <p align="center">
                    <img src="http://25.media.tumblr.com/avatar_11d1d2700795_128.png" alt="F5://Food" title="F5://Food" width="128" height="128"
                         style="display:block" border="0"/>
                </p>

            </td>
            <td width="10">&nbsp;</td>
        </tr>
    </table>
</div>

</body>
</html>
