/* Global Styles */
/* http://www.colourlovers.com/palette/1336345/vintage_veggies_IFRC */

@import url(//fonts.googleapis.com/css?family=Ubuntu:400,400italic);

html,
body {
  height: 100%;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
body {
  font-family: 'Ubuntu', "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.btn-success {
background-color: #657A38;
border-color: #5A6D32;
}

.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .open .dropdown-toggle.btn-success {
background-color: #5A6D32;
border-color: #657A38;
}

.vert-text {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.vert-text h1 {
  padding: 0;
  margin: 0;
  font-size: 4.5em;
  font-weight: 700;
}

/* Side Menu */

#sidebar-wrapper {
  margin-right: -250px;
  right: 0;
  width: 250px;
  background: #000;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 1000;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.sidebar-nav li {
  line-height: 40px;
  text-indent: 20px;
}

.sidebar-nav li a {
  color: #999999;
  display: block;
  text-decoration: none;
}

.sidebar-nav li a:hover {
  color: #fff;
  background: rgba(255,255,255,0.2);
  text-decoration: none;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 55px;
  line-height: 55px;
  font-size: 18px;
}

.sidebar-nav > .sidebar-brand a {
  color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}

#menu-toggle {
  top: 0;
  right: 0;
  position: fixed;
  z-index: 1;
  background-color: #E58634;
  border-color: #E58634;
}

#sidebar-wrapper.active {
  right: 250px;
  width: 250px;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.toggle {
  margin: 5px 5px 0 0;
}

/* Full Page Image Header Area */

.header {
display: table;
height: 100%;
width: 100%;
position: relative;
background: url(../img/vineyard.jpg) no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
background-color: #FCBF6B;
}

.header h1, .header h3 {
color:#ffffff;
text-shadow:0px 0px 2px rgba(51,51,51,1);
}

/* Intro */

.intro {
  padding: 50px 0;
}

/* About */

.about {
  background: #657A38;
  padding: 50px 0;
  color: #ffffff;
}

.about h2, .about h4 {
font-weight: bold;
line-height: 1.4em;
}

.about p {
font-size: 16px;
}

.about-item {
  margin-bottom: 15px;
}

i.about-icon {
  border: 3px solid #ffffff;
  border-radius: 50%;
  display: inline-block;
  font-size: 56px;
  width: 140px;
  height: 140px;
  line-height: 136px;
  vertical-align: middle; 
  text-align: center;
}

i.about-icon:hover {
  font-size: 68px;
}

#pitch-idea {
background-color: #ebebeb;
color: #657A38;
}

/* blog */

.blog {
    background: #A9CCB9;
    padding: 50px 0;
    color: #ffffff;
}

.blog h2, .blog h4 {
color: #333333;
}

/* Callout */

.sign-up {
  color: #ffffff;
  display: table;
  height: 400px;
  width: 100%;
  background: url(../img/stalks.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.sign-up h1 {
text-shadow:0px 0px 2px rgba(51,51,51,1);
}

/* Portfolio */

.portfolio {
  padding: 50px 0;
}

.portfolio-item {
  margin-bottom: 25px;
}

a .img-portfolio {
  border: inherit solid 1px;
}

a .img-portfolio:hover {
transform: scale(1.2);
-webkit-transform: scale(1.1);
-moz-transform: scale(1.1);
-o-transform: scale(1.1);
-ms-transform: scale(1.1);
}

.img-portfolio {
margin: 0 auto;
-webkit-border-radius: 20px;
-moz-border-radius: 20px;
border-radius: 20px;
background-color: #A9CCB9;
}

.mentors dd {
margin-left: 25px;
margin-bottom: 7px;
}

/* Footer */

footer {
padding: 40px 0 50px 0;
color: #ffffff;
background: #A9CCB9;
}

footer h3, footer p {
    color: #333333;
}

footer .btn {
    margin: 10px;
}

.map {
    height: 500px;
}

/* Responsive */
@media (min-width: 992px) {
    .pitch p {
        text-align: left;
    }
}

@media (max-width: 768px) {
	
  .header {
	background: url(../img/vineyard.jpg) no-repeat center center scroll; 
  }

  .sign-up {
	background: url(../img/stalks.jpg) no-repeat center center scroll; 
  }

  .map {
	height: 75%;
  }

}

.invisible {
border: 0;
clip: rect(0 0 0 0);
height: 1px;
margin: -1px;
overflow: hidden;
padding: 0;
position: absolute;
width: 1px;
}
