{{ partial "header.html" . }}


<main role="main" class="mb-3">
        <div class="row">
            <div class="card border-light">
                <article class="article" itemprop="blogPost" itemscope itemtype="https://schema.org/BlogPosting">
                    <div class="card-header">
                        <div class="row columns small-up-2 medium-up-3 large-up-4 mb-3 text-center">
                            <h1 itemprop="name">
                                {{ .Title }}
                            </h1>
                        </div>
                    </div>
                    <div class="card-body">
                        <meta itemprop="image" content="{{ (print .Params.banner "-large" ".jpg") | absURL }}"/>
                        <meta itemprop="url" content="{{ .Permalink }}"/>
                        <meta itemprop="description" content="{{ .Summary }}"/>
            
                        <main class="row columns small-up-2 medium-up-3 large-up-4" itemprop="articleBody">
                        {{ .Content }}
            
                    </main>
                    </div>            
                </article>
            </div>
        </div>

    {{ if .Site.Params.disqusShortname }}
    <section>
        {{ template "_internal/disqus.html" . }}
    </section>
    {{ end }}

</main>
{{ partial "footer.html" . }}
