{{ partial "header.html" . }}
<main role="main">

    <article class="article" itemscope itemtype="http://schema.org/Article">

        <header data-interchange="[{{ (print .Params.banner "-small" ".jpg") | absURL }}, small], [{{ (print .Params.banner "-medium" ".jpg") | absURL }}, medium], [{{ (print .Params.banner "-large" ".jpg") | absURL }}, large]">

            <div class="row columns small-up-2 medium-up-3 large-up-4">
                <h1 itemprop="name">
                    {{ .Title }}
                </h1>
            </div>

        </header>

        <div class="article-style" itemprop="articleBody">
            <main class="row columns small-up-2 medium-up-3 large-up-4">

                {{ .Content }}

            </main>
        </div>

    </article>

    {{ partial "section_pager.html" . }}

</main>
{{ partial "footer.html" . }}
