{{ partial "header.html" . }}


<main role="main">
    <article class="article" itemscope itemtype="http://schema.org/Event">
        <header data-interchange="[{{ (print .Params.banner "-small" ".jpg") | absURL }}, small], [{{ (print .Params.banner "-medium" ".jpg") | absURL }}, medium], [{{ (print .Params.banner "-large" ".jpg") | absURL }}, large]">

            <div class="row columns small-up-2 medium-up-3 large-up-4">
                <h1 itemprop="name">
                    {{ .Title }}
                </h1>
            </div>


        </header>

        <meta itemprop="image" content="{{ (print .Params.banner "-large" ".jpg") | absURL }}"/>
        <meta itemprop="isAccessibleForFree" content="True"/>
        <meta itemprop="url" content="{{ .Permalink }}"/>
        <meta itemprop="description" content="{{ .Summary }}"/>
        {{ if .Params.event_location }}
        <div itemprop="location" itemscope itemtype="http://schema.org/Place">
            <meta itemprop="address" content="{{ .Params.event_location }}"/>
            <meta itemprop="name" content="{{ .Params.event_location }}"/>
        </div>
        {{ end }}

        <div class="row columns small-up-2 medium-up-3 large-up-4">

            <details class="callout secondary" role="group" open>

                <summary role="button" aria-expanded="false">Event Details</summary>

                <dl class="inline">
                    {{ if .Date }}
                    <dt><i class="far fa-clock"></i> Date</dt>
                    <dd itemprop="startDate" content="{{ dateFormat "2006-01-02T15:04:05-07:00" .Date }}">
                        {{ dateFormat "Monday, Jan 2, 2006 at 3:04PM" .Date }}
                        {{ if lt .Date now }}
                        <span class="warning label">Archived</span>
                        {{ end }}
                    </dd>
                    {{ end }}

                    {{ if .Params.event_location }}
                    <dt><i class="fas fa-map-marker-alt"></i> Location</dt>
                    <dd id="location">{{ .Params.event_location }}</dd>
                    {{ end }}

                    {{ if .Params.project }}
                    <dt><i class="fas fa-fire"></i> Hosted By</dt>
                    <dd id="host">
                        {{ if eq .Params.project "meetups" }}
                            <a href="{{ $.Site.BaseURL }}project/{{ .Params.project | urlize }}">Refresh AV Meetups</a>.  All are welcome!
                        {{ else if eq .Params.project "hoist" }}
                            <a href="{{ $.Site.BaseURL }}project/{{ .Params.project | urlize }}">Hoist AV</a> is a space for teens interested in design, entrepreneurship and programming.
                        {{ else if eq .Params.project "creative-computing" }}
                            <a href="{{ $.Site.BaseURL }}project/{{ .Params.project | urlize }}">Creative Computing</a> is a series of workshops for kids interested in computer science.
                        {{ end }}
                    </dd>
                    {{ end }}

                    {{ if .Params.event_facebook }}
                    <dt><i class="far fa-calendar-check"></i>
                        {{ if lt "Date" now }}
                        Event Page
                        {{ else }}
                        RSVP
                        {{ end }}
                    </dt>
                    <dd><a href="{{ .Params.event_facebook }}">Facebook</a></dd>
                    {{ end }}

                    {{ if .Params.event_eventbright }}
                    <dt><i class="fas fa-ticket-alt"></i> Get Tickets</dt>
                    <dd><a href="{{ .Params.event_eventbright }}">Eventbright</a></dd>
                    {{ end }}

                    {{ if .Params.people }}
                    <dt>
                        {{ if gt (len .Params.people) 1 }}
                        <i class="fas fa-users"></i>
                        {{ else }}
                        <i class="fas fa-user"></i>
                        {{ end }}
                        Presenter{{ if gt (len .Params.people) 1 }}s{{ end }}
                    </dt>
                    <dd>
                        {{ range $index, $person := .Params.people }}
                            {{ if gt $index 0 }}, {{ end }}
                                <span itemprop="performer" itemscope="" itemtype="http://schema.org/Person">
                                    <a itemprop="url" href="{{ $.Site.BaseURL }}person/{{ . | urlize }}">
                                        <span itemprop="name">{{ . }}</span>
                                    </a>
                                </span>
                        {{ end }}
                    </dd>
                    {{ end }}

                    {{ if .Params.organizations }}
                    <dt><i class="far fa-building"></i> Organization{{ if gt (len .Params.organizations) 1 }}s{{ end }}</dt>
                    <dd>
                        {{ range $index, $organization := .Params.organizations }}
                            {{ if gt $index 0 }}, {{ end }}
                            <span itemprop="contributor" itemscope="" itemtype="http://schema.org/Organization">
                                <a itemprop="url" href="{{ $.Site.BaseURL }}organization/{{ . | urlize }}">
                                    <span itemprop="name">{{ . }}</span>
                                </a>
                            </span>
                        {{ end }}
                    </dd>
                    {{ end }}

                    {{ if .Params.resources }}
                    <dt><i class="fas fa-wrench"></i> Resources</dt>
                    <dd>
                        <ul>
                        {{ range $index, $resource := .Params.resources }}
                            <li>
                            {{ range $key, $value := . }}
                                {{ if eq $key "title"}}
                                    {{ $.Scratch.Set "title" $value }}
                                {{ end }}
                                {{ if eq $key "url"}}
                                    {{ $.Scratch.Set "url" $value }}
                                {{ end }}
                            {{ end }}

                                <a href="{{ $.Scratch.Get "url" }}">
                                    {{ $.Scratch.Get "title" }}
                                </a>
                            </li>

                        {{ end }}
                        </ul>
                    </dd>
                    {{ end }}
                </dl>

            </details>

        </div>

        <main class="row columns small-up-2 medium-up-3 large-up-4">
            {{ .Content }}

            {{ if .Params.project }}
            <p>Hosted by
                {{ if eq .Params.project "meetups" }}
                <a href="{{ $.Site.BaseURL }}project/{{ .Params.project | urlize }}">Refresh Annapolis Valley</a>.  All are welcome!
                {{ else if eq .Params.project "hoist" }}
                <a href="{{ $.Site.BaseURL }}project/{{ .Params.project | urlize }}">Hoist Annapolis Valley</a>.  A monthly series of workshops for teens interested in design, entrepreneurship and programming.
                {{ else if eq .Params.project "creative-computing" }}
                <a href="{{ $.Site.BaseURL }}project/{{ .Params.project | urlize }}">Creative Computing</a>. A series of workshops for kids 8 to 13 interested in computer science.
                {{ end }}
            </p>
            {{ end }}
        </main>

        <footer class="row columns small-up-2 medium-up-3 large-up-4">

            {{ if gt .Date now }}

                <h3 class="text-center">{{ dateFormat "Monday, Jan 2, 2006 at 3:04PM" .Date }}</h3>

                {{ if .Params.event_location }}
                <p class="text-center">
                    {{ replace .Params.event_location "," "<br>" | safeHTML }}
                </p>
                {{ end }}

                {{ if .Params.event_eventbright }}
                    <p class="text-center">
                        <a class="large button" href="{{ .Params.event_eventbright }}">
                            <i class="fas fa-ticket-alt"></i> Get Your Tickets
                        </a>

                    </p>
                {{ else }}

                    {{ if .Params.event_facebook }}
                        <p class="text-center">
                            <a class="large button" href="{{ .Params.event_facebook }}">
                                <i class="far fa-calendar-check"></i> RSVP
                            </a>

                        </p>
                    {{ end }}

                {{ end }}


            {{ end }}

            {{ if .Params.event_sponsors }}
            <p class="text-center">
                Organized in cooperation with
                {{ range $index, $person := .Params.event_sponsors }}
                    {{ if gt $index 0 }} & {{ end }}
                    <span itemprop="sponsor" itemscope="" itemtype="http://schema.org/Organization">
                        <a itemprop="url" href="{{ $.Site.BaseURL }}organization/{{ . | urlize }}">
                            <span itemprop="name">{{ . }}</span>
                        </a>
                    </span>
                {{ end }}
            </p>
            {{ end }}

            {{ if .Params.pics }}
            <div class="callout secondary carousel" data-flickity='{ "lazyLoad": true, "wrapAround": true }'>

                {{ range $index, $pic := .Params.pics }}
                    <div class="carousel-cell">
                        <img class="carousel-cell-image" data-flickity-lazyload="{{ . }}" />
                    </div>
                {{ end }}

            </div>
            {{ end }}


            <section id="map"></section>

        </footer>
    </article>

    {{ if .Site.Params.disqusShortname }}
    <section>
        {{ template "_internal/disqus.html" . }}
    </section>
    {{ end }}

</main>
{{ partial "footer.html" . }}
